{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    font-size: 30px;
    font-family: "Roboto", "sans-serif";
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    background:white;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.link{
    text-decoration: none;
    padding-left: 10px;
    color: #585A5B;
    font-weight: 400;
    font-size: 14px;
}
ion-icon{
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
    transition: .3s;
}
ion-icon:hover{
    background: #dcdcdc;
    border-radius: 20px;
}

.btn-cinza{
    font-size: 13px;
    text-decoration: none;
    background: #F8F9FA;
    padding: 8px 20px 8px 20px;
    color: #4B4E51;
    border-radius: 5px;
    margin-left: 10px;
}

.pesquisa{
    margin: 10px;
    height: 40px;
    min-width: 50vw;
    max-width: 75vw;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
}

.pesquisa:hover{
    box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.1);
}

.btn{
    background: #1A73E8;
    padding: 8px 15px 8px 15px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 14px;
}

.main{
    background-color:white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.footer{
    color: #6B7682
    background-color:#FBBC05 ;
    height: 60px;
    border-bottom: 2px solid #DDDFE3;
    font-size: 18px;
    padding-left: 18px;
    diplay: flex;
    align-items: center;
}
